*{
    font-family: sans-serif;
    margin: 50px;
    padding: 15px;
}
a{
    color: inherit;
    text-decoration: none;
}
body {
    font-family: 'Arial', sans-serif;
    margin: 50px;
    padding: 15px;
    background-color: #66b8fc;
}
.medsos {
    padding: 10px ;
    baekground-color:#00bfff;  
    width: 35;
    height: 10;
}
.medsos ul li {
    display: inline-block;
    color: #070707;
    width: 35;
    height: 10;
}
.container{
    width: 100%;
    margine: 68px auto;
    display:;
    
}

header {
    border: 1px solid;
    color: white;
    text-align: left;
    padding: 4em
}

nav {
    border: 1px solid;
    float: right;
    background-color: #067245;
    color: white;
    padding: 10px;
}

nav ul {
    text-decoration: none;
    margin: 50px;
    padding: 50px;
}

nav ul li {
    display: inline-block;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

section {
    padding: 35px;
    width: 100%;
    margin: 50px;
}
.section= "Beranda"{
    font-weight:14vw;
    padding: 15px;
    margin: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;" 
}
.section.id="about"{
    font-weight:14vw;
}
.table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  td, th {
    border: 1px solid #050101;
    text-align: left;
    padding: 8px;
    color :#ecf4f7;
  }
  
  tr:nth-child(even) {
    background-color: #4d4c4c;
  }

img {
    max-width: 35%;
    height: 15% auto;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em; 
    position: fixed;
    bottom: 0;
    width: 500px;
    height: 100px; 
}
